* {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: #000000;
}

.img-logo {
    width: 100px;
    height: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url('../img/artists-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.3;
    filter: blur(8px);
}


.header {
    z-index: 1000;
    background: linear-gradient(90deg, #824500 0%, #824500 100%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 4px solid #f7931e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.header h1 {
    font-size: 60px;
    margin: 4px 0;
    line-height: 1.1;
}

.home-btn {
    display: inline-block;
    padding: 12px 28px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background: transparent;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    overflow: hidden;
}


.home-btn:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.3);
    animation: pulse-glow 1.5s infinite alternate;
}













.artist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
}

.artist-card {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.artist-card::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #000000b0;

    -webkit-mask-image: url("../img/test.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("../img/test.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.artist-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #f7931e;
    z-index: 2;
}

.artist-card h2,
.artist-card p {
    position: relative;
    z-index: 3;
}

.artist-card h2 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #f7931e;
}

.artist-card p {
    font-size: 0.9rem;
    margin: 4px 0;
    line-height: 1.4;
}