<!DOCTYPE html>
<html>
    <head><title>Groupie tracker</title>
        <meta charset="UTF-8">
        <meta name="descritpion" content="site web de filtres et de recherches d'artistes">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="header">
            <h1>Tracker de Tigre</h1>
            <a href="/artists">Artistes</a>
        </div>
        <div class="content">
            <h2>Bienvenue sur le tracker de tigre!</h2>
            <p>Utilisez ce site pour rechercher et filtrer vos artistes préférés.</p>
            <div class="search-bar">
                <p>Barre de Recherche</p>
            </div>
            <div class="page-home">
                <p>Page d'accueil</p>
         </div>
        </div>
        <div class="footer">
            <p>&copy; 2026  Groupie Tracker</p>
        </div>
    </body>
</html>